---
import AboutInfo from "../components/aboutInfo.astro";
import Banner2 from "../components/banner2.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main>
    <Banner2
      text="About"
      header="THE ULTIMATE LUXUARY"
      page="About Us"
      bg="../../public/images/pageHeaderBackground.webp"
    />
    <AboutInfo/>
  </main>
</Layout>
