---
import Banner2 from "../components/banner2.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main><Banner2 header="THE LUXURY DETAILS" page="New Details" text="Contact"/></main>
</Layout>
