---
import Layout from '../layouts/Layout.astro';
import MenuBar from '../components/menu_bar.astro';
import Banner from '../components/banner.astro';
---

<Layout>
	<MenuBar/>
	<main>
		<Banner/>
	</main>
</Layout>
