---
import Layout from "../layouts/Layout.astro";
import MenuBar from "../components/menu_bar.astro";
import Banner from "../components/banner.astro";
import CheckAvailability from "../components/checkAvailability.astro";
import AboutUs from "../components/aboutUs.astro";
import Video from "../components/video.astro";
import Facilities from "../components/facilities.astro";
import Menu from "../components/menu.astro";
import Data from "../components/data.astro";
import Footer from "../components/footer.astro";
---

<Layout>
  <MenuBar />
  <main>
    <Banner />
    <CheckAvailability />
    <AboutUs />
    <Video />
    <Facilities />
    <Menu />
    <Data />
  </main>
  <Footer />
</Layout>
