---
import Layout from "../layouts/Layout.astro";
import MenuBar from "../components/menu_bar.astro";
import Banner from "../components/banner.astro";
import CheckAvailability from "../components/checkAvailability.astro";
---

<Layout>
  <MenuBar />
  <main>
    <Banner />
    <CheckAvailability />
  </main>
</Layout>
