---
import Banner2 from "../components/banner2.astro";
import CardOffer from "../components/cardOffer.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout
  ><main>
    <Banner2 header="BEST PRICING" text="Offers" page="Our Offers" />
    <CardOffer/>
    <CardOffer/>
    <CardOffer/>
    <CardOffer/>
  </main></Layout
>
