---
import Banner2 from "../components/banner2.astro";
import CardOffer from "../components/cardOffer.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout
  ><main>
    <Banner2 header="BEST PRICING" text="Offers" page="Our Offers" />
    <CardOffer
      img={"../../public/images/offerRooms/offerRoom1.webp"}
      sale={999}
      price={599}
    />
    <CardOffer
      img={"../../public/images/offerRooms/offerRoom2.webp"}
      sale={400}
      price={120}
    />
    <CardOffer
      img={"../../public/images/offerRooms/offerRoom3.webp"}
      sale={1200}
      price={880}
    />
    <CardOffer
      img={"../../public/images/offerRooms/offerRoom4.webp"}
      sale={500}
      price={350}
    />
  </main></Layout
>
