@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@400;600;700&family=Old+Standard+TT&family=Roboto:wght@400;500;700&display=swap");
html,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  min-width: 320px;
}

ul {
  list-style: none;
}

a,
a:active,
a:visited {
  text-decoration: none;
  color: unset;
}

/* font-family: 'Archivo', sans-serif;
font-family: 'Old Standard TT', serif;
font-family: 'Roboto', sans-serif; */
.button {
  color: #fff;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 15.2px;
  letter-spacing: 2.8px;
  font-family: "Archivo", sans-serif;
  width: 250px;
  padding: 23px 0;
  border: none;
  margin: 12px 0;
  transition: background 0.3s;
  cursor: pointer;
}
.button-variant1 {
  background-color: #bead8e;
}
.button-variant2 {
  background-color: #333;
  border: 2px solid rgba(255, 255, 255, 0.33);
}

.homeTitle {
  font: normal 400 24px/24px "Old Standard TT", serif;
  font-size: 56px;
  line-height: 60px;
  letter-spacing: -1.2px;
  margin-bottom: 15px;
}

.homeSubtitle {
  font: normal 700 14px/15.2px "Archivo", sans-serif;
  letter-spacing: 2.8px;
  font-size: 14px;
  line-height: 18px;
}

.pagesSecundaryTitle, .pageDetailsRelated__title, .pageDetailsCancellation__title, .pageDetailsPerson__title, .pageDetailsAmenities__title {
  font: normal 400 24px/24px "Old Standard TT", serif;
  font-size: 30px;
  line-height: 30px;
  color: #222;
}

@media (min-width: 1000px) {
  .homeTitle {
    font-size: 80px;
    line-height: 80px;
    letter-spacing: -2.4px;
  }
}
.header {
  background-color: #222222;
}
.header__container {
  max-width: 1420px;
  margin: 0 auto;
}
.header__welcomeTextDesktop {
  display: none;
  text-align: left;
  color: #fff;
  font: normal 400 16px/26px "Roboto", sans-serif;
  line-height: 18.75px;
  padding: 10px 0;
}
.header__navbar {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.29);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
  padding: 2.5px 20px;
}
.header__navbar__menu {
  cursor: pointer;
}
.header__navbar__menu > div {
  width: 20px;
  height: 1.5px;
  background-color: #111;
  margin: 5.3px 20px 5.3px 0;
  transform-origin: left;
}
.header__navbar__brand {
  color: #111;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__navbar__brand-logo {
  display: inline-block;
  font: normal 700 14px/15.2px "Archivo", sans-serif;
  text-align: center;
  margin-right: 15px;
  box-shadow: 0px 14px 24px rgba(139, 139, 139, 0.25);
  line-height: 36px;
  font-size: 18px;
  width: 36px;
}
.header__navbar__brand-text {
  font: normal 400 26px/28.3px "Archivo", sans-serif;
  font-size: 13px;
  line-height: 14px;
  width: 60px;
}
.header__navbar__linkList {
  font: normal 600 16px/17.4px "Archivo", sans-serif;
}
.header__navbar__link {
  margin-right: 50px;
}
.header__navbar__buttons {
  margin-left: auto;
}
.header__navbar__buttons-icon {
  display: inline-block;
  position: relative;
  margin: 0 10px;
  text-align: center;
  line-height: 65px;
}

.desktopNavbar {
  display: none;
}

.mobileNavbar {
  display: block;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  margin-top: 70px;
  background-color: #fff;
  width: 100%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.29);
  padding: 2px 20px;
}
.mobileNavbar > li {
  margin: 25px 0;
}

.initialHidden {
  display: none;
}

.hidden {
  animation: hiddeMenu 0.5s ease-in-out 0s forwards;
  overflow: hidden;
}

.visible {
  display: block;
  animation: showMenu 0.5s ease-in-out 0s forwards;
  overflow: hidden;
}

.open div:first-child {
  animation: burgerUpOpen 0.5s ease-in-out 0s forwards;
}
.open div:nth-child(2) {
  animation: burgerMidOpen 0.5s ease-in-out 0s forwards;
}
.open div:nth-child(3) {
  animation: burgerDownOpen 0.5s ease-in-out 0s forwards;
}

.close div:first-child {
  animation: burgerUpClose 0.5s ease-in-out 0s forwards;
}
.close div:nth-child(2) {
  animation: burgerMidClose 0.5s ease-in-out 0s forwards;
}
.close div:nth-child(3) {
  animation: burgerDownClose 0.5s ease-in-out 0s forwards;
}

@media (min-width: 1000px) {
  .header {
    padding-bottom: 60px;
  }
  .header__welcomeTextDesktop {
    display: block;
  }
  .header__navbar {
    margin-bottom: -60px;
    top: 0px;
    left: 0px;
    right: 0;
    margin: 0 auto;
    padding: 20px;
    max-width: 1420px;
    transition: transform 0.5s;
  }
  .header__navbar__menu {
    display: none;
  }
  .header__navbar__brand-logo {
    margin-right: 28px;
    line-height: 80px;
    font-size: 40px;
    width: 80px;
  }
  .header__navbar__brand-text {
    font-size: 26px;
    line-height: 28.3px;
    width: 140px;
  }
  .header__navbar__linkList {
    margin: 0 auto 0 120px;
  }
  .header__navbar__buttons {
    display: flex;
    margin-right: 120px;
    gap: 20px;
  }
  .header__navbar__buttons-icon {
    margin: 0;
    font-size: 30px;
    padding: 0 20px;
  }
  .topPageBehavior {
    transform: translateY(38.75px);
  }
  .slideUpMenu {
    transform: translateY(-125px);
  }
  .desktopNavbar {
    display: flex;
    min-width: 430px;
  }
  .mobileNavbar {
    display: none;
  }
}
@keyframes hiddeMenu {
  0% {
    height: 194.6px;
    opacity: 1;
  }
  99% {
    height: 0px;
    opacity: 1;
    z-index: 10;
  }
  100% {
    opacity: 0;
    z-index: -10;
  }
}
@keyframes showMenu {
  0% {
    height: 0px;
    opacity: 1;
  }
  100% {
    height: 194.6px;
  }
}
@keyframes burgerUpOpen {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(6.5px);
  }
  100% {
    transform: rotate(45deg);
  }
}
@keyframes burgerDownOpen {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-6.5px);
  }
  100% {
    transform: rotate(-45deg);
  }
}
@keyframes burgerMidOpen {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes burgerUpClose {
  0% {
    transform: rotate(45deg);
  }
  50% {
    transform: rotate(0);
    transform: translateY(6.5px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes burgerMidClose {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes burgerDownClose {
  0% {
    transform: rotate(-45deg);
  }
  50% {
    transform: translateY(-6.5px);
  }
  100% {
    transform: translateY(0);
  }
}
.footer {
  background-image: url("./images/bkgroundFooter.svg");
  padding-top: 32px;
}
.footer__mapContainer {
  padding: 0 20px;
  display: grid;
  row-gap: 30px;
  grid-template-columns: 1fr;
  max-width: 500px;
  margin: 0 auto;
}
.footer__column1-text {
  color: #777;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: normal;
  font-family: "Roboto", sans-serif;
  margin: 50px 0 22px;
}
.footer__column1-icons {
  display: flex;
  justify-content: space-between;
  max-width: 240px;
}
.footer__column1-icons > svg {
  cursor: pointer;
}
.footer__column1-icons > svg:hover > rect {
  transition: fill 0.3s;
  fill: #bead8e;
}
.footer__column1-icons > svg:hover > path {
  transition: fill 0.3s;
  fill: #fff;
}
.footer__brand {
  color: #111;
  display: flex;
  justify-content: start;
  align-items: center;
}
.footer__brand-logo {
  display: inline-block;
  color: #111;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 80px;
  letter-spacing: normal;
  font-family: "Archivo", sans-serif;
  text-align: center;
  margin-right: 28px;
  width: 80px;
  background: #bead8e;
  box-shadow: 0px 14px 24px rgba(139, 139, 139, 0.15);
}
.footer__brand-text {
  color: #111;
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 28.3px;
  letter-spacing: normal;
  font-family: "Archivo", sans-serif;
  width: 140px;
}
.footer__title {
  color: #111;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: normal;
  font-family: "Old Standard TT", serif;
  margin-bottom: 30px;
}
.footer__list {
  color: #777;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 48px;
  letter-spacing: normal;
  font-family: "Roboto", sans-serif;
  list-style-type: "+  ";
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.footer__list :last-child {
  grid-column: 1/2;
}
.footer__list__link {
  max-width: 160px;
  margin-left: 15px;
}
.footer__contactData {
  display: flex;
  gap: 20px;
  margin-bottom: 60px;
}
.footer__contactData-title {
  color: #222;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: normal;
  font-family: "Old Standard TT", serif;
}
.footer__contactData-text {
  color: #777;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: normal;
  font-family: "Roboto", sans-serif;
}
.footer__legalContainer {
  background-color: #f8f8f8;
  padding: 30.625px 20px;
}
.footer__legalContainer__content {
  max-width: 1170px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  color: #222;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18.75px;
  letter-spacing: normal;
  font-family: "Roboto", sans-serif;
}

@media (min-width: 1000px) {
  .footer {
    padding-top: 100px;
  }
  .footer__mapContainer {
    max-width: 1210px;
    margin: 0px auto 100px;
    grid-template-columns: 1fr 2fr 1fr;
  }
  .footer__column2 {
    margin-left: 80px;
  }
}
/* home page */
.banner {
  background-image: url("./images/bannerBackground.webp");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.banner__backgroundPres {
  background-color: rgba(51, 51, 51, 0.7019607843);
}
.banner__presentation {
  color: #fff;
  margin-top: 70px;
  padding: 75px 20px;
  width: 100%;
  max-width: 1170px;
}
.banner__subtitle {
  margin-bottom: 40px;
  max-width: 300px;
  font-size: 14px;
}
.banner__buttons {
  display: flex;
  flex-direction: column;
}
.banner__backgroundForm {
  background-color: #222;
}
.banner__formContainer {
  padding: 36px 20px 24px;
  max-width: 1170px;
}
.banner__form {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 35px;
}
.banner__form__inputContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  max-width: 330px;
}
.banner__form__label {
  font: normal 700 16px/18.75px "Roboto", sans-serif;
}
.banner__form__dateInput {
  font: normal 400 16px/26px "Roboto", sans-serif;
  line-height: 16.5px;
  border: none;
  outline: none;
  border-bottom: solid 2px #bead8e;
  background-color: transparent;
  color: #686868;
  padding: 0 0 10px 30px;
  position: relative;
  cursor: text;
}
.banner__form__dateInput::-webkit-calendar-picker-indicator {
  background-image: url("./images/calendaricon.svg");
  position: absolute;
  left: 0;
  top: 0;
  color: #fff;
  cursor: pointer;
}

@media (min-width: 1000px) {
  .banner__presentation {
    margin: 0 auto;
    padding-bottom: 100px;
  }
  .banner__subtitle {
    margin-top: 100px;
    max-width: none;
  }
  .banner__title {
    font-size: 120px;
    line-height: 130px;
    letter-spacing: -3.6px;
    max-width: 800px;
  }
  .banner__buttons {
    flex-direction: row;
    gap: 30px;
  }
  .banner__formContainer {
    margin: 0 auto;
  }
  .banner__form {
    flex-direction: row;
    align-items: center;
    column-gap: 30px;
    justify-content: flex-start;
    padding: 32.5px 0;
  }
  .banner__form > .button {
    margin-left: auto;
  }
}
.aboutUs {
  margin-top: 60px;
  position: relative;
}
.aboutUs__presentation {
  background-image: url("./images/aboutUsBackground.webp");
  background-position: center;
  background-size: cover;
}
.aboutUs__container {
  padding: 38px 20px 160px;
  background: linear-gradient(135deg, rgb(248, 248, 248) 60%, rgba(248, 248, 248, 0) 100%);
}
.aboutUs__subtitle {
  margin-bottom: 35px;
  color: #777;
}
.aboutUs__title {
  color: #111;
}
.aboutUs__text {
  font: normal 400 26px/28.3px "Archivo", sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #777;
  margin-bottom: 12px;
}
.aboutUs__subSection {
  width: 270px;
}
.aboutUs__subSection__figure {
  width: 270px;
}
.aboutUs__subSection__figure > img {
  width: 100%;
}
.aboutUs__subSection-variant1 {
  margin: -112px auto 0;
}
.aboutUs__subSection-variant2 {
  margin: 45px auto 0;
}
.aboutUs__subSection__salient {
  background-repeat: no-repeat;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 270px;
  margin-top: -5px;
  padding: 145px 0 0;
  color: #111;
}
.aboutUs__subSection__salient-variant1 {
  background-image: url("./images/people.svg");
  background-position: 100% 25%;
  box-shadow: 0px 8px 16px rgba(34, 34, 34, 0.02);
}
.aboutUs__subSection__salient-variant2 {
  background-color: #222;
  color: #fff;
  background-image: url("./images/calendar.svg");
  background-position: 50% 25%;
}
.aboutUs__subSection__salient-title {
  font: normal 400 24px/24px "Old Standard TT", serif;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: -0.9px;
}
.aboutUs__subSection__salient-text {
  font: normal 400 16px/26px "Roboto", sans-serif;
  font-size: 14px;
  line-height: 22px;
  width: 200px;
  margin: 21px auto 38px;
}

@media (min-width: 1000px) {
  .aboutUs {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    max-width: 1500px;
    margin: 60px 0 0 auto;
  }
  .aboutUs__presentation {
    margin-top: 150px;
    width: 100%;
  }
  .aboutUs__container {
    padding: 38px 20px 160px 185px;
    background: linear-gradient(135deg, rgb(248, 248, 248) 50%, rgba(248, 248, 248, 0) 100%);
  }
  .aboutUs__title {
    max-width: 450px;
    margin-right: auto;
  }
  .aboutUs__text {
    max-width: 400px;
  }
  .aboutUs__subSectionContainer {
    margin-right: -90px;
    z-index: 2;
  }
  .aboutUs__subSection {
    display: flex;
    width: 570px;
    gap: 30px;
  }
  .aboutUs__subSection-variant1 {
    flex-direction: row-reverse;
    margin: 0 auto;
  }
  .aboutUs__subSection-variant1 > figure {
    margin-top: 30px;
  }
  .aboutUs__subSection-variant2 > figure {
    margin-top: -30px;
  }
}
.rooms {
  margin: 60px auto;
  text-align: center;
}
.rooms__subtitle {
  color: #777;
}
.rooms__title {
  margin: 25px auto;
  color: #222;
}
.rooms__slider {
  max-width: 500px;
  margin: 0 auto;
}
.rooms__slider__header {
  width: 256px;
  position: relative;
  background-color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto -20px;
  padding: 13px 0;
  box-shadow: 0px 8px 16px rgba(138, 138, 138, 0.05);
  z-index: 2;
}
.rooms__slider__swiper {
  width: 100%;
  max-width: 365px;
}
.rooms__slider__swiper-img {
  width: 100%;
}
.rooms__slider__swiper .swiper-button-prev {
  color: #111;
  background-color: #fff;
  width: 32px;
  height: 32px;
  margin-top: -7rem;
  transition: all 0.2s;
}
.rooms__slider__swiper .swiper-button-prev:active {
  transform: scale(0.9);
}
.rooms__slider__swiper .swiper-button-prev::after {
  --swiper-navigation-size: 10px;
}
.rooms__slider__swiper .swiper-button-next {
  color: #fff;
  background-color: #bdac8d;
  width: 32px;
  height: 32px;
  margin-top: -7rem;
  transition: all 0.2s;
}
.rooms__slider__swiper .swiper-button-next:active {
  transform: scale(0.9);
}
.rooms__slider__swiper .swiper-button-next::after {
  --swiper-navigation-size: 10px;
}
.rooms__slider__foot {
  background-color: #fff;
  width: 90%;
  margin: -20px auto 30px;
  padding: 20px 25px;
  position: relative;
  z-index: 5;
}
.rooms__slider__foot-title {
  font: normal 400 24px/24px "Old Standard TT", serif;
  font-size: 28px;
  line-height: 36px;
  letter-spacing: -1.2px;
  color: #222;
}
.rooms__slider__foot-text {
  font: normal 400 16px/26px "Roboto", sans-serif;
  font-size: 14px;
  line-height: 24px;
  margin: 12px auto;
  color: #777;
}
.rooms__slider__foot-price {
  font: normal 700 14px/15.2px "Archivo", sans-serif;
  font-size: 32px;
  line-height: 43px;
  color: #bead8e;
}
.rooms__slider__foot-price > small {
  font-size: 13px;
}
.rooms__video {
  background-color: #222;
  color: #fff;
  text-align: left;
  padding: 20px;
}
.rooms__video__container {
  max-width: 500px;
  margin: 0 auto;
}
.rooms__video__container > a {
  width: fit-content;
}
.rooms__video__subtitle {
  margin: 44px 0 32px;
  color: #bdac8d;
}
.rooms__video__text {
  font: normal 400 26px/28.3px "Archivo", sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #c2c2c2;
  margin: 15px 0 30px;
}
.rooms__video__cont {
  width: 100%;
  margin-bottom: 24px;
}
.rooms__video__cont iframe {
  width: 100%;
}

@media (min-width: 1000px) {
  .rooms {
    margin-top: 120px;
    overflow-x: hidden;
  }
  .rooms__slider {
    max-width: unset;
  }
  .rooms__slider__header {
    opacity: 0;
    transition: opacity 0.5s;
  }
  .rooms__slider__swiper {
    max-width: 750px;
    overflow: visible;
  }
  .rooms__slider__swiper > .swiper-wrapper > .swiper-slide {
    transform: scale(0.9);
  }
  .rooms__slider__swiper > .swiper-wrapper > .swiper-slide-active {
    transform: scale(1);
  }
  .rooms__slider__swiper-img {
    width: 100%;
  }
  .rooms__slider__swiper > .swiper-wrapper > .swiper-slide-active > .rooms__slider__foot {
    opacity: 1;
  }
  .rooms__slider__swiper > .swiper-wrapper > .swiper-slide-active > .rooms__slider__header {
    opacity: 1;
  }
  .rooms__slider__swiper > .swiper-button-lock {
    display: flex;
  }
  .rooms__slider__swiper .swiper-button-prev {
    width: 50px;
    height: 50px;
  }
  .rooms__slider__swiper .swiper-button-prev::after {
    --swiper-navigation-size: 15px;
  }
  .rooms__slider__swiper .swiper-button-next {
    width: 50px;
    height: 50px;
  }
  .rooms__slider__swiper .swiper-button-next::after {
    --swiper-navigation-size: 15px;
  }
  .rooms__slider__foot {
    display: flex;
    text-align: left;
    align-items: center;
    padding: 35px;
    opacity: 0;
    transition: opacity 0.5s;
  }
  .rooms__slider__foot-text {
    width: 80%;
    margin-left: 0;
  }
  .rooms__video {
    padding: 120px 20px;
    position: relative;
  }
  .rooms__video__container {
    max-width: 1170px;
    display: grid;
    grid-template-areas: "subtitle video" "title video" "text video" "btn video";
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
  .rooms__video__container::after {
    content: "";
    width: 30%;
    background-color: #ad9d82;
    position: absolute;
    right: 0;
    top: 0;
  }
  .rooms__video__subtitle {
    margin: 16px 0 36px;
    grid-area: subtitle;
  }
  .rooms__video__title {
    grid-area: title;
  }
  .rooms__video__text {
    max-width: 485px;
    margin: 20px 0 10px;
    grid-area: text;
  }
  .rooms__video__cont {
    max-width: 570px;
    grid-area: video;
    z-index: 1;
    margin: 0;
  }
}
.facilities {
  padding: 0 25px;
}
.facilities__subtitle {
  text-align: center;
  color: #777;
}
.facilities__title {
  text-align: center;
  margin: 24px auto 32px;
  color: #222;
}
.facilities__slider {
  padding: 0 13px;
  margin: 0 auto;
  width: fit-content;
}
.facilities__slider__container {
  display: grid;
  grid-template-columns: 1fr;
}
.facilities__slider__container > div {
  position: relative;
  padding: 18px;
}
.facilities__slider__container > .facilityActive {
  display: block;
}
.facilities__slider__container > .facilityInactive {
  display: none;
}
.facilities__slider__imgs {
  margin: 30px auto;
}
.facilities__slider__imgs > img {
  width: 30%;
  transition: all 0.3s;
}
.facilities__slider__imgs > img:hover {
  animation: facilityAnimation 1.2s linear;
}
.facilities__slider__imgs > span {
  color: rgba(34, 34, 34, 0.0392156863);
  font: normal 700 14px/15.2px "Archivo", sans-serif;
  font-size: 120px;
  line-height: 130px;
  position: absolute;
  top: -18px;
  right: 0;
}
.facilities__slider__title, .pageAboutFacility__slider__title {
  font: normal 400 24px/24px "Old Standard TT", serif;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: -0.9px;
  color: #222;
}
.facilities__slider__text, .pageAboutFacility__slider__text {
  font: normal 400 26px/28.3px "Archivo", sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #777;
  margin: 30px 0;
  width: 250px;
}
.facilities__slider__dots {
  display: flex;
  justify-content: center;
  /* display: flex;
  margin: 0 auto;
  justify-content: space-between;
  width: 30px; */
  /* & > div {
    background-color: #ededed;
    width: 7px;
    height: 7px;
    border-radius: 7px;
  }
  & > .active {
    background-color: #bead8e;
  } */
}
.facilities__slider__dots > span {
  background-color: #bead8e;
}

.swiperFacility {
  max-width: 270px;
  overflow: hidden;
  margin: 0 auto;
}

@media (min-width: 1000px) {
  .swiperFacility {
    max-width: 1070px;
  }
  .facilities__slider__container {
    grid-template-columns: repeat(3, 1fr);
    gap: 30px 90px;
  }
  .facilities__slider__container > .facilityInactive {
    display: block;
  }
  .facilities__slider__dots {
    display: none;
  }
}
@keyframes facilityAnimation {
  0% {
    transform: scale(1) rotate(0);
  }
  50% {
    transform: scale(0.5) rotate(560deg);
  }
  100% {
    transform: scale(1) rotate(1080deg);
  }
}
.menu {
  padding-top: 156px;
  background-image: url("./images/menuBackground.svg");
  background-repeat: no-repeat;
  background-size: 115px;
  background-position: calc(100% + 25px) 3%;
}
.menu__container {
  padding: 0 20px;
  max-width: 500px;
  margin: 0 auto;
  position: relative;
}
.menu__subtitle {
  margin: 24px auto;
  color: #777;
}
.menu__title {
  color: #222;
}
.menu__options {
  width: 100%;
}
.menu__options__swiper-controls {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
}
.menu__options .swiper-button-prev {
  color: #111;
  background-color: #fff;
  width: 32px;
  height: 32px;
}
.menu__options .swiper-button-prev::after {
  --swiper-navigation-size: 10px;
}
.menu__options .swiper-button-next {
  color: #fff;
  background-color: #bdac8d;
  width: 32px;
  height: 32px;
}
.menu__options .swiper-button-next::after {
  --swiper-navigation-size: 10px;
}
.menu__options__container {
  display: flex;
  gap: 30px;
  align-items: center;
  margin: 16px auto;
  cursor: pointer;
}
.menu__options__figure {
  width: 120px;
  display: flex;
}
.menu__options__figure > img {
  width: 100%;
}
.menu__options__cont {
  width: 185px;
  color: #222;
}
.menu__options__title {
  font: normal 400 24px/24px "Old Standard TT", serif;
  letter-spacing: -0.72px;
}
.menu__options__text {
  font: normal 400 16px/26px "Roboto", sans-serif;
  font-size: 14px;
  line-height: 24px;
  margin-top: 12px;
}
.menu__options-activeOption {
  background-color: #222;
  position: relative;
}
.menu__options-activeOption > .menu__options__cont {
  color: #fff;
}
.menu__options__controls {
  display: flex;
  gap: 16px;
  justify-content: flex-end;
  margin: 24px 0 60px;
}
.menu__options__controls-container {
  width: 36px;
  padding: 18px;
  position: relative;
  cursor: pointer;
  transition: all 0.2s;
}
.menu__options__controls-container:active {
  transform: scale(0.9);
}
.menu__options__controls-arrow {
  width: 6.8px;
  height: 6.8px;
  border-left: solid 2px;
  border-bottom: solid 2px;
  position: absolute;
  top: 50%;
  bottom: 50%;
  left: 50%;
  right: 50%;
  margin: auto;
  translate: -50%;
}
.menu__options__controls > .controlLeft {
  background-color: #f8f8f8;
}
.menu__options__controls > .controlLeft > .arrowLeft {
  border-color: #111;
  transform: rotate(45deg);
}
.menu__options__controls > .controlRight {
  background-color: #bead8e;
  box-shadow: 0px 14px 24px rgba(190, 173, 142, 0.15);
}
.menu__options__controls > .controlRight > .arrowRight {
  border-color: #fff;
  transform: rotate(-135deg);
}
.menu__options__individualSlider-img {
  width: 100%;
}
.menu__options__individualSlider-dots {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.menu__options__individualSlider-dots > span {
  background-color: #bead8e;
}
.menu__resume {
  background-color: #222;
  margin: 60px 0;
  padding: 48px 0;
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-items: center;
  text-align: center;
}
.menu__resume__img {
  margin-bottom: 16px;
}
.menu__resume__title {
  font: normal 700 16px/18.75px "Roboto", sans-serif;
  font-size: 60px;
  line-height: 82px;
  color: #fff;
}
.menu__resume__title > small {
  font-size: 16px;
  line-height: 22px;
}
.menu__resume__text {
  font: normal 700 16px/18.75px "Roboto", sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #999;
}

.swiperFoodMenu {
  overflow: hidden;
}

.swiperMenuOption {
  overflow: hidden;
}

@media (min-width: 1000px) {
  .menu {
    background-position: 80px 3%;
  }
  .menu__container {
    max-width: 1210px;
  }
  .menu__options {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 100px;
  }
  .menu__options__container {
    justify-content: flex-start;
  }
  .menu__options-activeOption::after {
    content: "";
    background-image: url("./images/factArrowIcon.svg");
    background-repeat: no-repeat;
    background-position: 0 50%;
    width: 35px;
    padding: 17px 0;
    position: absolute;
    right: 40px;
  }
  .menu__options__column-inactive {
    display: block;
  }
  .menu__options__cont {
    width: 285px;
  }
  .menu__options__controls {
    position: absolute;
    top: 0;
    right: 20px;
  }
  .menu__options__controls-container {
    width: 70px;
    padding: 35px;
  }
  .menu__options__controls-arrow {
    width: 10px;
    height: 10px;
  }
  .menu__options__individualSlider-dots {
    display: none;
  }
  .menu__resume {
    flex-direction: row;
    justify-content: space-evenly;
    max-width: 1170px;
    margin: 120px auto;
  }
}
/* pages */
.pagesHeader {
  background-image: url("./images/pageHeaderBackground.webp");
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
}
.pagesHeader__background {
  background-color: rgba(51, 51, 51, 0.8);
}
.pagesHeader__container {
  color: white;
  margin: 70px auto 60px;
  padding: 75px 20px 0;
  max-width: 1210px;
}
.pagesHeader__title {
  margin: 16px 0 47px;
}
.pagesHeader__breadcrumbs {
  background-color: #fff;
  width: fit-content;
  padding: 0 24px;
  color: #222;
  text-align: center;
  line-height: 50px;
  margin-left: auto;
}
.pagesHeader__breadcrumbs a {
  font: normal 700 14px/15.2px "Archivo", sans-serif;
  font-size: 16px;
  line-height: 17.4px;
  letter-spacing: -0.48px;
}
.pagesHeader__breadcrumbs > .active {
  color: #bead8e;
}
.pagesHeader__breadcrumbs > .hiddeBreadcrumb {
  display: none;
}

@media (min-width: 1000px) {
  .pagesHeader__container {
    margin: 0 auto 120px;
    padding-top: 157px;
  }
  .pagesHeader__title {
    margin: 24px 0;
  }
}
/* about us page */
.pageAboutPresentation {
  padding: 0 20px;
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
}
.pageAboutPresentation__video {
  width: 100%;
}
.pageAboutPresentation__title {
  font: normal 400 24px/24px "Old Standard TT", serif;
  font-size: 32px;
  line-height: 39.5px;
  letter-spacing: -1.16px;
  margin: 36px auto 51px;
}
.pageAboutPresentation__offers {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  justify-items: center;
}
.pageAboutPresentation__offers__item {
  color: #222;
  font: normal 700 14px/15.2px "Archivo", sans-serif;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 2.4px;
  width: 100%;
  padding: 39.2px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  transition: all 0.3s;
}
.pageAboutPresentation__offers__item > svg,
.pageAboutPresentation__offers__item path {
  transition: all 0.3s;
}
.pageAboutPresentation__offers__item:hover {
  background-color: #bead8e;
  color: #fff;
}
.pageAboutPresentation__offers__item:hover > svg {
  fill: #fff;
}
.pageAboutPresentation__offers__item:hover > svg > path {
  fill: #fff;
}
.pageAboutPresentation__offers > .mobileHidden {
  display: none;
}

@media (min-width: 1000px) {
  .pageAboutPresentation {
    max-width: 1210px;
  }
  .pageAboutPresentation__title {
    margin: 68px auto 73px;
    font-size: 72px;
    line-height: 89px;
    letter-spacing: -2.16px;
    max-width: 1050px;
  }
  .pageAboutPresentation__offers {
    grid-template-columns: repeat(5, 1fr);
    gap: 40px;
  }
  .pageAboutPresentation__offers > .mobileHidden {
    display: flex;
  }
}
.pageAboutResto {
  margin: 50px auto 60px;
  max-width: 500px;
}
.pageAboutResto__container {
  margin: 0 20px;
  padding: 20px;
  box-shadow: 0px 14px 24px rgba(184, 184, 184, 0.1);
}
.pageAboutResto__contentLarge > .button {
  box-shadow: 0px 14px 24px rgba(190, 173, 142, 0.36);
}
.pageAboutResto__img {
  overflow: hidden;
}
.pageAboutResto__img > img {
  width: 100%;
}
.pageAboutResto__subtitle {
  font-size: 14px;
  line-height: 15.2px;
  color: #777;
  margin: 32px 0 26px;
}
.pageAboutResto__title {
  font-size: 40px;
  line-height: 49.5px;
  color: #222;
}
.pageAboutResto__text {
  font: normal 400 26px/28.3px "Archivo", sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #777;
  margin: 26px 0 4px;
}

@media (min-width: 1000px) {
  .pageAboutResto {
    max-width: 1170px;
    margin-bottom: 120px;
  }
  .pageAboutResto__container {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 40px;
    justify-content: space-between;
    gap: 60px;
  }
  .pageAboutResto__contentLarge {
    max-width: 480px;
    margin-right: 20px;
  }
  .pageAboutResto__title {
    font-size: 48px;
    line-height: 59px;
    letter-spacing: -1.44px;
    margin: 26px 0;
  }
}
.pageAboutFacility {
  background-color: #222;
  color: #fff;
  padding: 42px 20px;
}
.pageAboutFacility__subtitle {
  margin: 6px 0 16px;
  text-align: center;
}
.pageAboutFacility__title {
  margin-bottom: 32px;
  text-align: center;
}
.pageAboutFacility__item {
  position: relative;
  background-color: #292929;
  padding: 18px;
  width: 100%;
  max-width: 285px;
  margin: 0 auto;
}
.pageAboutFacility__slider {
  max-width: 375px;
  margin: 0 auto;
  overflow: hidden;
}
.pageAboutFacility__slider__imgs {
  margin-bottom: 30px;
}
.pageAboutFacility__slider__imgs > img {
  transition: all 0.3s;
}
.pageAboutFacility__slider__imgs > img:hover {
  animation: facilityAnimation 1.2s linear;
}
.pageAboutFacility__slider__imgs > span {
  color: #222;
  font: normal 700 14px/15.2px "Archivo", sans-serif;
  font-size: 120px;
  line-height: 130px;
  position: absolute;
  top: -18px;
  right: 0;
}
.pageAboutFacility__slider__dots {
  display: flex;
  justify-content: center;
  margin-top: 24px;
}
.pageAboutFacility__slider__dots > span {
  background-color: #bead8e;
}
.pageAboutFacility__slider__title {
  color: #fff;
}
.pageAboutFacility__slider__text {
  color: #fff;
}

@media (min-width: 1000px) {
  .pageAboutFacility {
    padding: 100px 20px;
  }
  .pageAboutFacility__item {
    max-width: unset;
    padding: 40px 15%;
  }
  .pageAboutFacility__slider {
    max-width: 1070px;
  }
  .pageAboutFacility__slider__dots {
    display: none;
  }
}
.pageAboutCounter {
  padding: 60px 20px;
  max-width: 500px;
  margin: 0 auto;
}
.pageAboutCounter__subtitle {
  color: #777;
}
.pageAboutCounter__title {
  color: #222;
  margin: 24px 0 36px;
}
.pageAboutCounter__itemsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.pageAboutCounter__items {
  display: flex;
  justify-items: center;
  align-items: center;
  padding: 30px 0;
  margin: 0 auto;
}
.pageAboutCounter__items__content {
  margin: 0 35px 0 18px;
  width: 150px;
}
.pageAboutCounter__items__title {
  font: normal 400 24px/24px "Old Standard TT", serif;
  font-size: 60px;
  line-height: 60px;
  letter-spacing: -1.8px;
  color: #222;
  margin: 0;
}
.pageAboutCounter__items__text {
  font: normal 400 16px/26px "Roboto", sans-serif;
  line-height: 16px;
  color: #777;
  margin: 0;
}
.pageAboutCounter__slider {
  overflow: hidden;
}
.pageAboutCounter__slider__img {
  overflow: hidden;
  width: 100%;
}
.pageAboutCounter__slider__dots {
  display: flex;
  justify-content: center;
  margin-top: 24px;
}
.pageAboutCounter__slider__dots > span {
  background-color: #bead8e;
}

@media (min-width: 1000px) {
  .pageAboutCounter {
    max-width: 1210px;
    padding: 120px 20px;
  }
  .pageAboutCounter__itemsContainer {
    flex-direction: row;
  }
  .pageAboutCounter__slider {
    margin-top: 60px;
  }
  .pageAboutCounter__slider__img {
    display: inline-block;
    max-width: 570px;
  }
  .pageAboutCounter__slider__dots {
    display: none;
  }
}
.pageRoomsGrid {
  padding: 0 20px;
}
.pageRoomsGrid__container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
  justify-items: center;
  max-width: 400px;
  margin: 0 auto;
}
.pageRoomsGrid__selectInput {
  margin-right: auto;
}
.pageRoomsGrid__selectInput__select, .pageRoomsList__selectInput__select {
  border: none;
  outline: none;
  padding: 25px;
  background-color: #f8f8f8;
  color: #777;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 15.23px;
  letter-spacing: normal;
  font-family: "Archivo", sans-serif;
  cursor: pointer;
}
.pageRoomsGrid__selectInput__option, .pageRoomsList__selectInput__option {
  background-color: #f8f8f8;
  color: #222;
}
.pageRoomsGrid__room {
  padding-bottom: 20px;
}
.pageRoomsGrid__img > img {
  width: 100%;
}
.pageRoomsGrid__iconsBar, .pageDetailsRelated__iconsBar, .pageRoomsList__details-iconsBar {
  width: 256px;
  padding: 13px 0;
  position: relative;
  background-color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: -20px auto 30px;
  box-shadow: 0px 8px 16px rgba(138, 138, 138, 0.05);
  z-index: 2;
}
.pageRoomsGrid__legend {
  background-color: #fff;
  width: 90%;
  text-align: center;
  margin: 0 auto;
}
.pageRoomsGrid__legend-title, .pageRoomsList__details-title {
  font: normal 400 24px/24px "Old Standard TT", serif;
  font-size: 28px;
  line-height: 36px;
  letter-spacing: -1.2px;
  color: #222;
}
.pageRoomsGrid__legend-text, .pageRoomsList__details-text {
  font: normal 400 16px/26px "Roboto", sans-serif;
  font-size: 14px;
  line-height: 24px;
  margin: 12px auto 0;
  color: #777;
}
.pageRoomsGrid__legend-price, .pageRoomsList__price {
  font: normal 700 14px/15.2px "Archivo", sans-serif;
  font-size: 16px;
  line-height: 41px;
  color: #bead8e;
}
.pageRoomsGrid__legend-price > a, .pageRoomsList__price > a {
  color: #bdbdbd;
}
.pageRoomsGrid__paginateBar {
  margin: 25px auto 50px;
  display: flex;
  justify-content: space-between;
  max-width: 280px;
  color: #222;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: normal;
  font-family: "Roboto", sans-serif;
}
.pageRoomsGrid__paginateBar > span {
  padding: 10px 15px;
  cursor: pointer;
}
.pageRoomsGrid__paginateBar > .active {
  background-color: #bead8e;
  color: #fff;
}

@media (min-width: 1000px) {
  .pageRoomsGrid__container {
    grid-template-columns: repeat(3, 1fr);
    max-width: 1170px;
  }
  .pageRoomsGrid__selectInput {
    grid-column: 1/4;
  }
}
.pageRoomsList {
  padding: 0 20px;
}
.pageRoomsList__container {
  justify-items: center;
  max-width: 400px;
  margin: 0 auto;
}
.pageRoomsList__selectInput {
  display: inline-block;
  margin-bottom: 30px;
}
.pageRoomsList__room {
  padding-bottom: 20px;
  margin-bottom: 25px;
  display: grid;
  grid-template-columns: 1fr;
}
.pageRoomsList__img > img {
  width: 100%;
}
.pageRoomsList__details {
  text-align: center;
}
.pageRoomsList__price {
  display: flex;
  gap: 20px;
  margin: 0 auto;
}
.pageRoomsList__price-link {
  color: #bdbdbd;
  transition: all 0.5s;
}
.pageRoomsList__price-link:hover {
  transform: scale(1.1);
  color: #fff;
  background-color: #bead8e;
}
.pageRoomsList__price > hr {
  display: none;
}
.pageRoomsList__paginateBar {
  text-align: center;
  margin: 25px 0 50px;
}

@media (min-width: 1000px) {
  .pageRoomsList__container {
    max-width: 1170px;
  }
  .pageRoomsList__selectInput {
    margin-left: calc(100% - 180px);
  }
  .pageRoomsList__room {
    grid-template-columns: 2fr 2fr 1fr;
    gap: 40px;
    align-items: center;
  }
  .pageRoomsList__details-iconsBar {
    margin-top: 0;
  }
  .pageRoomsList__price {
    flex-direction: column;
    text-align: center;
    gap: 10px;
  }
  .pageRoomsList__price-number {
    font-size: 40px;
    line-height: 44px;
  }
  .pageRoomsList__price-number > small {
    font-size: 16px;
  }
  .pageRoomsList__price > hr {
    display: block;
    border: solid 2px #f1f1f1;
    width: 60px;
    margin: 0 auto;
  }
}
.pageDetailsLayout {
  max-width: 1210px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pageDetailsLayout-block {
  display: grid;
  grid-template-columns: 1fr;
}

@media (min-width: 1000px) {
  .pageDetailsLayout {
    align-items: flex-start;
    padding: 0 20px;
  }
  .pageDetailsLayout-block {
    grid-template-columns: 3fr 1fr;
  }
}
.pageDetailsPresentation {
  padding: 0 20px;
  width: 100%;
}
.pageDetailsPresentation__container {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  width: 95%;
}
.pageDetailsPresentation__subtitle {
  color: #777;
  font-size: 14px;
  line-height: 15px;
}
.pageDetailsPresentation__title {
  color: #222;
  font-size: 40px;
  line-height: 48px;
  margin: 12px 0 16px;
}
.pageDetailsPresentation__prices {
  font: normal 700 14px/15.2px "Archivo", sans-serif;
  line-height: 43px;
  color: #bead8e;
}
.pageDetailsPresentation__prices-item > p {
  font-size: 32px;
  display: inline-block;
}
.pageDetailsPresentation__prices-item > small {
  font-size: 13px;
  margin-left: -2px;
}
.pageDetailsPresentation__prices > :last-child {
  display: none;
}
.pageDetailsPresentation__img {
  margin: 16px 0 50px;
}
.pageDetailsPresentation__img > img {
  width: 100%;
  aspect-ratio: 16/9;
}

.offerPrice > :first-child {
  line-height: 25px;
}
.offerPrice > :first-child > p {
  text-decoration: line-through;
  font-size: 23px;
}
.offerPrice > :first-child > small {
  text-decoration: line-through;
  font-size: 11px;
}
.offerPrice > :last-child {
  display: inline-block;
  color: #de5777;
}

@media (min-width: 1000px) {
  .pageDetailsPresentation {
    max-width: 770px;
    margin-left: 0;
    padding: 0;
  }
  .pageDetailsPresentation__container {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 27.5px 40px;
    position: relative;
  }
  .pageDetailsPresentation__title {
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -1.44px;
    margin-right: 115px;
  }
  .pageDetailsPresentation__img {
    margin-top: -73px;
  }
  .pageDetailsPresentation__prices {
    text-align: right;
  }
}
.pageDetailsAvailability {
  padding: 0 20px;
}
.pageDetailsAvailability__title {
  font: normal 700 14px/15.2px "Archivo", sans-serif;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.54px;
  text-align: center;
}
.pageDetailsAvailability__formContainer {
  width: 100%;
  max-width: 330px;
  margin: 15px auto 28px;
  padding: 20px;
  position: relative;
}
.pageDetailsAvailability__formErrorMessage, .pageContactForm__form__formErrorMessage {
  display: none;
  color: red;
  font: normal 400 26px/28.3px "Archivo", sans-serif;
  font-size: 14px;
  line-height: 15.2px;
  position: absolute;
  right: 20px;
  top: 18px;
}
.pageDetailsAvailability__form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 10px;
}
.pageDetailsAvailability__form-label {
  font: normal 700 14px/15.2px "Archivo", sans-serif;
  font-size: 14px;
  line-height: 15.2px;
}
.pageDetailsAvailability__form-date, .pageDetailsAvailability__form-text {
  border: none;
  outline: none;
  background-color: #f8f8f8;
  font: normal 400 26px/28.3px "Archivo", sans-serif;
  font-size: 14px;
  line-height: 15.2px;
  color: #777;
  padding: 15px 0 15px 30px;
  position: relative;
  max-width: 330px;
  cursor: text;
}
.pageDetailsAvailability__form-date::-webkit-calendar-picker-indicator, .pageDetailsAvailability__form-text::-webkit-calendar-picker-indicator {
  background-image: url("./images/calendarGreyIcon.svg");
  position: absolute;
  right: 20px;
  top: 50%;
  bottom: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.pageDetailsAvailability__form-btn {
  width: 100%;
}
.pageDetailsAvailability__modalContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(119, 119, 119, 0.8039215686);
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pageDetailsAvailability__modalContainer-hidden {
  display: none;
}
.pageDetailsAvailability__modal {
  background-color: #f8f8f8;
  max-width: 90%;
  padding: 40px 30px 10px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pageDetailsAvailability__modal__title {
  font: normal 700 14px/15.2px "Archivo", sans-serif;
  font-size: 24px;
  line-height: 25px;
  letter-spacing: -0.54px;
  color: #222;
  text-align: center;
}
.pageDetailsAvailability__modal__text {
  font: normal 400 26px/28.3px "Archivo", sans-serif;
  font-size: 18px;
  color: #777;
  text-align: center;
  margin: 30px 0;
}
.pageDetailsAvailability__modal__btn {
  padding: 15px;
  width: 60%;
}

.show {
  display: inline-block;
}

@media (min-width: 1000px) {
  .pageDetailsAvailability {
    width: 330px;
    padding: 0;
    grid-column: 2;
    grid-row: 1/3;
  }
}
.pageDetailsDescription {
  padding: 0 20px;
  font: normal 400 16px/26px "Roboto", sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #777;
  margin: 0 auto;
}
.pageDetailsDescription__text {
  width: 100%;
  max-width: 500px;
}

@media (min-width: 1000px) {
  .pageDetailsDescription {
    max-width: 770px;
    margin-left: 0;
    padding: 0;
  }
  .pageDetailsDescription__text {
    width: 100%;
    max-width: 770px;
  }
}
.pageDetailsAmenities {
  padding: 20px;
  margin: 40px 0 20px;
}
.pageDetailsAmenities > hr {
  width: 100%;
  border-color: #f1f1f1;
  margin: 13px 0 35px;
}
.pageDetailsAmenities__container, .pageOffersList__amenities-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 18px 15px;
}
.pageDetailsAmenities__items, .pageOffersList__amenities-item {
  display: flex;
  justify-content: flex-start;
  gap: 8px;
}
.pageDetailsAmenities__items-img, .pageOffersList__amenities-item > img {
  width: 16px;
}
.pageDetailsAmenities__items-text, .pageOffersList__amenities-text {
  font: normal 500 15px/17.6px "Roboto", sans-serif;
  color: #777;
}

@media (min-width: 1000px) {
  .pageDetailsAmenities {
    padding: 50px;
    margin-left: 0;
    width: 100%;
    max-width: 770px;
  }
  .pageDetailsAmenities__container, .pageOffersList__amenities-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
.pageDetailsPerson {
  text-align: center;
  max-width: 370px;
  position: relative;
}
.pageDetailsPerson__avatar {
  width: 150px;
  aspect-ratio: 1/1;
  border-radius: 75px;
  background-color: #d5d5d5;
  margin: 100px auto 40px;
  position: relative;
  overflow: hidden;
}
.pageDetailsPerson__avatar-person {
  width: 100%;
}
.pageDetailsPerson__avatar-check {
  position: absolute;
  top: 100px;
  right: 110px;
}
.pageDetailsPerson__subtitle {
  font: normal 700 14px/15.2px "Archivo", sans-serif;
  font-size: 14px;
  line-height: 15px;
  letter-spacing: 2.8px;
  color: #bdac8d;
  margin: 15px auto 25px;
}
.pageDetailsPerson__text {
  font: normal 400 26px/28.3px "Archivo", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #777;
  width: 85%;
  margin: 0 auto;
}

@media (min-width: 1000px) {
  .pageDetailsPerson {
    margin-left: 0;
    background: #ffffff;
    box-shadow: 0px 14px 24px rgba(190, 173, 142, 0.27);
    padding: 60px 25px 50px;
  }
  .pageDetailsPerson__avatar {
    margin-top: 0;
  }
  .pageDetailsPerson__avatar-check {
    top: 60px;
  }
  .pageDetailsPerson__text {
    width: 100%;
  }
}
.pageDetailsCancellation {
  padding: 20px;
  margin: 80px 0 20px;
}
.pageDetailsCancellation > hr {
  width: 100%;
  border-color: #f1f1f1;
  margin: 13px 0 35px;
}
.pageDetailsCancellation__text {
  max-width: 500px;
  font: normal 400 16px/26px "Roboto", sans-serif;
  color: #777;
}

@media (min-width: 1000px) {
  .pageDetailsCancellation {
    padding: 50px;
    width: 100%;
    max-width: 770px;
  }
  .pageDetailsCancellation__text {
    max-width: 660px;
  }
}
.pageDetailsRelated {
  padding: 20px;
  margin: 60px 0;
  width: 100%;
  max-width: 540px;
  /* &__largeContainer {
    display: none;
  } */
}
.pageDetailsRelated > hr {
  width: 100%;
  border-color: #f1f1f1;
  margin: 13px 0 35px;
}
.pageDetailsRelated__slider {
  width: 100%;
  max-width: 365px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}
.pageDetailsRelated__slider-slide {
  background-color: #fff;
}
.pageDetailsRelated__slider-img {
  width: 100%;
}
.pageDetailsRelated__slider__swiper .swiper-button-prev {
  color: #111;
  background-color: #fff;
  width: 32px;
  height: 32px;
  margin-top: -7rem;
}
.pageDetailsRelated__slider__swiper .swiper-button-prev::after {
  --swiper-navigation-size: 10px;
}
.pageDetailsRelated__slider__swiper .swiper-button-next {
  color: #fff;
  background-color: #bdac8d;
  width: 32px;
  height: 32px;
  margin-top: -7rem;
}
.pageDetailsRelated__slider__swiper .swiper-button-next::after {
  --swiper-navigation-size: 10px;
}
.pageDetailsRelated__slider__legend {
  padding-bottom: 30px;
}
@media (min-width: 1000px) {
  .pageDetailsRelated {
    max-width: 770px;
  }
  .pageDetailsRelated__slider {
    max-width: unset;
  }
}
.pageOffersList {
  padding: 20px;
  max-width: 500px;
  margin: 0 auto;
}
.pageOffersList__container {
  background-color: #fff;
  margin-bottom: 32px;
}
.pageOffersList__img {
  background-color: #ebebeb;
}
.pageOffersList__img-photo {
  width: 100%;
  aspect-ratio: 16/9;
}
.pageOffersList__subtitle {
  color: #777;
  margin: 16px 0 12px;
}
.pageOffersList__title {
  color: #222;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -1.44px;
  width: 80%;
}
.pageOffersList__detailContainer {
  padding: 0 20px;
  display: grid;
  grid-template-columns: 1fr;
  background-color: #fff;
  position: relative;
  box-shadow: 0px 14px 24px rgba(184, 184, 184, 0.1);
}
.pageOffersList__detailContainer > hr {
  display: none;
}
.pageOffersList__prices {
  position: absolute;
  top: -81px;
  right: 15px;
  font: normal 700 14px/15.2px "Archivo", sans-serif;
  text-align: right;
}
.pageOffersList__prices-oldPrice {
  padding: 4px 0;
  color: #bead8e;
}
.pageOffersList__prices-oldPrice > p {
  font-size: 23px;
  line-height: 25px;
  text-decoration: line-through;
  display: inline-block;
}
.pageOffersList__prices-oldPrice > small {
  font-size: 11px;
  line-height: 12px;
  text-decoration: line-through;
  margin-left: -2px;
}
.pageOffersList__prices-newPrice {
  color: #de5777;
  padding: 4px 0;
}
.pageOffersList__prices-newPrice > p {
  font-size: 30px;
  line-height: 33px;
  display: inline-block;
}
.pageOffersList__prices-newPrice > small {
  font-size: 12px;
  line-height: 13px;
  margin-left: -2px;
}
.pageOffersList__text {
  font: normal 400 16px/26px "Roboto", sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #777;
}
.pageOffersList__amenities-container {
  /* display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 18px 15px; */
  margin: 25px 0;
}
@media (min-width: 1000px) {
  .pageOffersList {
    max-width: 1170px;
    padding: 0px;
  }
  .pageOffersList__detailContainer {
    max-width: 1050px;
    padding: 60px;
    margin: -62px auto 0;
    border-top: solid 6px #bdac8d;
    grid-template-areas: "subtitle price" "title price" "hr hr" "_text amenities" "button amenities";
    grid-template-columns: 7fr 5fr;
    align-items: center;
    column-gap: 50px;
  }
  .pageOffersList__detailContainer > hr {
    display: block;
    grid-area: hr;
    margin: 35px 0;
  }
  .pageOffersList__subtitle {
    grid-area: subtitle;
  }
  .pageOffersList__title {
    grid-area: title;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -1.44px;
  }
  .pageOffersList__prices {
    position: static;
    grid-area: price;
  }
  .pageOffersList__text {
    grid-area: _text;
    font-size: 16px;
    line-height: 24px;
  }
  .pageOffersList__amenities-container {
    grid-area: amenities;
    grid-template-columns: 1fr 1fr;
    margin: 0 0 50px;
  }
  .pageOffersList > .button {
    grid-area: button;
  }
}
.pageOfferPopular {
  background-color: #222;
  padding: 20px;
  margin-bottom: 60px;
}
.pageOfferPopular__container {
  width: 100%;
  max-width: 500px;
  margin: 28px auto;
  text-align: center;
}
.pageOfferPopular__subtitle {
  font: normal 400 26px/28.3px "Archivo", sans-serif;
  font-size: 14px;
  line-height: 15px;
  letter-spacing: 2.8px;
  color: #bdac8d;
}
.pageOfferPopular__title {
  font: normal 400 24px/24px "Old Standard TT", serif;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -0.8px;
  color: #fff;
  margin: 25px auto 48px;
}
.pageOfferPopular__slider {
  width: 100%;
}
.pageOfferPopular__slider-slide {
  background-color: #fff;
}
.pageOfferPopular__slider-img {
  width: 100%;
}
.pageOfferPopular__slider > .pageRoomsList__legend {
  margin-bottom: 28px;
}
.pageOfferPopular__slider__swiper {
  max-width: 365px;
}
.pageOfferPopular__slider__swiper .swiper-button-prev {
  color: #111;
  background-color: #fff;
  width: 32px;
  height: 32px;
  margin-top: -7rem;
  transition: all 0.2s;
}
.pageOfferPopular__slider__swiper .swiper-button-prev:active {
  transform: scale(0.9);
}
.pageOfferPopular__slider__swiper .swiper-button-prev::after {
  --swiper-navigation-size: 10px;
}
.pageOfferPopular__slider__swiper .swiper-button-next {
  color: #fff;
  background-color: #bdac8d;
  width: 32px;
  height: 32px;
  margin-top: -7rem;
  transition: all 0.2s;
}
.pageOfferPopular__slider__swiper .swiper-button-next:active {
  transform: scale(0.9);
}
.pageOfferPopular__slider__swiper .swiper-button-next::after {
  --swiper-navigation-size: 10px;
}
.pageOfferPopular__slider__legend {
  padding-bottom: 30px;
}

@media (min-width: 1000px) {
  .pageOfferPopular__container {
    max-width: 1170px;
    margin: 40px auto 100px;
  }
  .pageOfferPopular__title {
    font-size: 80px;
    line-height: 80px;
    letter-spacing: -2.4px;
    margin: 80px auto;
  }
  .pageOfferPopular__slider__swiper {
    max-width: 1070px;
  }
}
.pageContactInfo {
  margin: -60px auto 0;
  padding: 0 20px;
  max-width: 500px;
}
.pageContactInfo__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.pageContactInfo__container > .info1 {
  background-image: url("./images/number1Bkg.svg");
  background-repeat: no-repeat;
  background-position: bottom right;
}
.pageContactInfo__container > .info2 {
  background-image: url("./images/number2Bkg.svg");
  background-repeat: no-repeat;
  background-position: bottom right;
}
.pageContactInfo__container > .info3 {
  background-image: url("./images/number3Bkg.svg");
  background-repeat: no-repeat;
  background-position: bottom right;
}
.pageContactInfo__item {
  display: flex;
  align-items: flex-start;
  width: 100%;
  max-width: 370px;
  padding: 55px 12px;
  margin: 23px 0;
}
.pageContactInfo__item > img {
  margin-right: 30px;
}
.pageContactInfo__item-title {
  font: normal 400 24px/24px "Old Standard TT", serif;
  font-size: 20px;
  color: #222;
  margin-bottom: 15px;
}
.pageContactInfo__item-text {
  font: normal 400 16px/26px "Roboto", sans-serif;
  font-size: 14px;
  line-height: 16.5px;
  min-height: 33px;
}
.pageContactInfo__map {
  margin: 50px auto;
}
.pageContactInfo__map > iframe {
  aspect-ratio: 16/9;
  width: 100%;
  border: none;
}

@media (min-width: 1000px) {
  .pageContactInfo {
    max-width: 1170px;
    padding: 0;
  }
  .pageContactInfo__container {
    flex-direction: row;
  }
  .pageContactInfo__item {
    padding-left: 50px;
  }
  .pageContactInfo__map {
    margin-bottom: 130px;
  }
}
.pageContactForm {
  padding: 0 20px;
  margin: 10px auto 48px;
}
.pageContactForm__form {
  display: grid;
  position: relative;
  grid-template-columns: 1fr;
  gap: 16px;
  justify-content: space-between;
  justify-items: center;
  max-width: 375px;
  margin: 0 auto;
}
.pageContactForm__form__formErrorMessage {
  top: -20px;
  left: 0px;
}
.pageContactForm__form__item, .pageContactForm__form__item-textarea {
  width: 100%;
  position: relative;
}
.pageContactForm__form__item > input, .pageContactForm__form__item-textarea > input,
.pageContactForm__form__item textarea,
.pageContactForm__form__item-textarea textarea {
  width: 100%;
  padding: 23.5px 20px 23.5px 50px;
  background-color: #f8f8f8;
  border: none;
  outline: none;
  color: #777;
  font: normal 400 16px/26px "Roboto", sans-serif;
  line-height: 18.75px;
}
.pageContactForm__form__item > img, .pageContactForm__form__item-textarea > img {
  position: absolute;
  left: 20px;
  top: 25px;
  bottom: 50%;
}
.pageContactForm__form__item-textarea > img {
  top: 25px;
}
.pageContactForm__form__item-textarea > textarea {
  padding: 25px 20px 25px 50px;
  resize: none;
}

@media (min-width: 1000px) {
  .pageContactForm {
    margin-bottom: 100px;
  }
  .pageContactForm__form {
    grid-template-columns: 1fr 1fr;
    max-width: 970px;
    gap: 30px;
  }
  .pageContactForm__form__formErrorMessage {
    top: -30px;
  }
  .pageContactForm__form__item-textarea {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .pageContactForm__form > .button {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

/*# sourceMappingURL=styles.css.map */
