---
import { gold } from "../layouts/Layout.astro";
---

<section>
  <video
    autoplay
    src="https://media.istockphoto.com/id/1177806723/es/v%C3%ADdeo/pocas-cosas-se-sienten-m%C3%A1s-fabulosas-que-una-escapada-de-lujo.mp4?s=mp4-640x640-is&k=20&c=m7sNeSFVXlSC7Dq5C4eZ_m6fGRojlDHRUjqQI7Wr7So="
  ></video>
  <p class="description">
    Hello. Our hotel has been present for over 20 years. We make the best for
    all our customers.
  </p>
  <article>
    <div>
      <svg
        fill="#BEAD8E"
        height="64px"
        width="64px"
        version="1.1"
        id="Capa_1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        viewBox="0 0 311.185 311.185"
        xml:space="preserve"
      >
        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
        <g
          id="SVGRepo_tracerCarrier"
          stroke-linecap="round"
          stroke-linejoin="round"></g>
        <g id="SVGRepo_iconCarrier">
          <path
            d="M298.5,288.279c0,4.418-3.582,8-8,8H8c-4.418,0-8-3.582-8-8s3.582-8,8-8h282.5C294.918,280.279,298.5,283.861,298.5,288.279 z M141.13,156.953c1.542,1.439,3.501,2.151,5.457,2.151c2.14,0,4.275-0.854,5.851-2.542c3.014-3.23,2.839-8.292-0.391-11.307 c-13.715-12.8-10.781-38.815,1.006-53.524c15.993-19.955,19.513-55.531-1.007-74.675c-3.229-3.015-8.293-2.839-11.307,0.393 c-3.014,3.23-2.838,8.293,0.393,11.307c12.32,11.493,12.046,37.235-0.564,52.97c-8.288,10.343-13.242,24.204-13.592,38.03 C126.591,134.866,131.619,148.077,141.13,156.953z M311.185,140.334v15.347c0,22.001-17.897,39.899-39.897,39.899h-17.858 c-12.123,33.706-44.416,57.878-82.245,57.878h-43.867c-48.174,0-87.366-39.191-87.366-87.364V86.729c0-4.418,3.582-8,8-8h51.315 c10.416-15.835,9.95-39.184-1.614-49.974c-3.23-3.014-3.405-8.076-0.391-11.307s8.077-3.406,11.307-0.391 c20.515,19.143,16.996,54.718,1.007,74.673c-11.791,14.711-14.726,40.726-1.007,53.524c3.23,3.015,3.406,8.076,0.392,11.308 c-3.014,3.23-8.077,3.405-11.307,0.392c-9.514-8.877-14.542-22.087-14.159-37.198c0.219-8.615,2.225-17.244,5.712-25.027H55.952 v71.365c0,39.351,32.015,71.364,71.366,71.364h43.867c39.351,0,71.366-32.014,71.366-71.364V94.729h-60.151c-4.418,0-8-3.582-8-8 s3.582-8,8-8h68.151c4.418,0,8,3.582,8,8v13.706h12.738C293.287,100.435,311.185,118.333,311.185,140.334z M295.185,140.334 c0-13.178-10.72-23.899-23.897-23.899H258.55v63.146h12.738c13.177,0,23.897-10.722,23.897-23.899V140.334z"
          ></path>
        </g>
      </svg>
      <p>BREAKFAST</p>
    </div>
    <div>
      <svg
        fill="#BEAD8E"
        width="64px"
        height="64px"
        viewBox="0 0 32 32"
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
      >
        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
        <g
          id="SVGRepo_tracerCarrier"
          stroke-linecap="round"
          stroke-linejoin="round"></g>
        <g id="SVGRepo_iconCarrier">
          <path
            d="M29.198 2.059c0.326 0 0.555 0.061 0.675 0.107 0.143 0.382 0.336 1.751-1.079 3.167l-7.218 7.218 0.052 0.896c0.11 1.874 0.313 5.232 0.488 8.111 0.154 2.563 0.301 4.983 0.311 5.189 0.005 0.142 0.007 0.175-0.125 0.334-0.295 0.358-0.846 0.966-1.309 1.47-0.72-1.939-2.232-6.033-3.067-8.325l-1.073-2.949-2.22 2.22-4.082 3.924-0.569 0.567-0.018 0.802c-0.014 0.64-0.011 1.79-0.009 2.803 0.002 0.706 0.004 1.348-0.001 1.701-0.009 0.017 0.136 0.036 0.123 0.059-0.087-0.14-0.181-0.29-0.28-0.447-0.823-1.313-1.962-3.128-2.309-3.695l-0.254-0.415-0.417-0.252c-1.516-0.916-3.196-1.973-4.221-2.634 0.035-0.020 0.064 0.088 0.088 0.075h0.067c0.323 0 0.856 0.007 1.453 0.015 0.782 0.011 1.668 0.023 2.346 0.023 0.26 0 0.491-0.002 0.677-0.006l0.803-0.018 0.568-0.567 3.929-4.053 2.212-2.211-2.935-1.080c-2.206-0.812-6.431-2.389-8.408-3.132 0.507-0.467 1.118-1.021 1.474-1.317 0.099-0.082 0.177-0.124 0.231-0.124l0.071 0.002c0.221 0.011 2.959 0.189 5.606 0.363 2.81 0.184 5.982 0.39 7.786 0.505l0.901 0.056 7.22-7.22c1.014-1.013 2.010-1.164 2.514-1.164zM29.198 0.060c-1.181 0-2.632 0.454-3.927 1.75l-6.581 6.581c-3.707-0.235-13.201-0.862-13.437-0.869-0.042-0.002-0.094-0.004-0.152-0.004-0.321 0-0.874 0.061-1.504 0.582-0.74 0.611-2.281 2.062-2.281 2.062-0.372 0.373-0.56 0.835-0.515 1.27 0.027 0.262 0.17 0.741 0.814 0.993 0.392 0.153 6.622 2.485 9.499 3.543l-3.929 4.053c-0.174 0.004-0.39 0.006-0.633 0.006-1.198 0-3.055-0.039-3.8-0.039-0.099 0-0.178 0-0.234 0.002-0.227 0.007-0.696-0.105-1.933 0.929l-0.088 0.082c-0.371 0.371-0.458 0.741-0.466 0.986-0.008 0.252 0.059 0.615 0.424 0.907 0.219 0.177 3.026 1.974 5.329 3.365 0.552 0.901 3.092 4.938 3.225 5.157 0.194 0.327 0.51 0.514 0.889 0.525h0.031c0.368 0 0.746-0.183 1.116-0.542 1.047-1.224 0.902-1.731 0.907-1.945 0.017-0.668-0.011-3.498 0.012-4.62l4.081-3.925c1.043 2.865 3.323 9.031 3.476 9.424 0.254 0.645 0.733 0.786 0.995 0.813 0.043 0.005 0.087 0.007 0.13 0.007 0.395 0 0.803-0.186 1.139-0.52 0 0 1.445-1.534 2.059-2.28s0.591-1.383 0.579-1.683c-0.005-0.208-0.584-9.651-0.799-13.338l6.583-6.583c2.333-2.334 1.962-5.146 1.096-6.011-0.383-0.385-1.157-0.675-2.103-0.675z"
          ></path>
        </g>
      </svg>
      <p>AIRPORT PICKUP</p>
    </div>
    <div>
      <svg
        width="54"
        height="53"
        viewBox="0 0 54 53"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M26.7313 9.52148C25.2819 9.52148 23.8868 9.95103 22.697 10.7637C22.3453 11.0039 22.2564 11.4816 22.4984 11.8307C22.7405 12.1798 23.2218 12.268 23.5735 12.0279C24.5043 11.3921 25.5962 11.0561 26.7313 11.0561C29.8073 11.0561 32.3097 13.5396 32.3097 16.5924C32.3097 19.6451 29.8073 22.1288 26.7313 22.1288C23.6554 22.1288 21.153 19.6451 21.153 16.5924C21.153 15.6918 21.3637 14.8333 21.7792 14.0409C21.9762 13.6649 21.829 13.2016 21.4502 13.0061C21.0713 12.8107 20.6048 12.9566 20.4076 13.3326C19.8838 14.3318 19.6069 15.459 19.6069 16.5924C19.607 20.4914 22.8029 23.6633 26.7313 23.6633C30.6597 23.6633 33.8557 20.4914 33.8557 16.5924C33.8557 12.6935 30.6597 9.52148 26.7313 9.52148Z"
          fill="#BEAD8E"></path>
        <path
          d="M53.137 51.0985L45.5072 32.9039C45.3873 32.6179 45.1058 32.4315 44.7936 32.4315H37.1904C38.6692 30.4459 39.9002 28.4682 40.8615 26.5263C42.5652 23.0848 43.4289 19.7427 43.4289 16.5925C43.4288 7.45463 35.9384 0.0205078 26.7314 0.0205078C17.5243 0.0205078 10.0339 7.45463 10.0339 16.5924C10.0339 19.7426 10.8976 23.0848 12.6013 26.5262C13.5625 28.4681 14.7935 30.4459 16.2724 32.4314H8.66921C8.357 32.4314 8.0754 32.6179 7.95558 32.9038L2.75645 45.302C2.59239 45.6932 2.77889 46.1423 3.17307 46.305C3.27025 46.3452 3.37073 46.3642 3.46977 46.3642C3.77267 46.3642 4.06016 46.1864 4.1837 45.8916L4.92555 44.1225H10.1882L7.46102 50.6259H2.19852L2.98905 48.7407C3.15312 48.3494 2.96662 47.9003 2.57244 47.7376C2.17805 47.5745 1.72566 47.7599 1.5617 48.151L0.325808 51.0985C0.226461 51.3352 0.252926 51.6057 0.396415 51.8189C0.539699 52.0323 0.780985 52.1605 1.03943 52.1605H52.4233C52.6816 52.1605 52.923 52.0323 53.0664 51.8189C53.2098 51.6057 53.2364 51.3352 53.137 51.0985ZM11.58 16.5924C11.58 8.30069 18.3769 1.55497 26.7314 1.55497C35.0858 1.55497 41.8827 8.30079 41.8827 16.5924C41.8827 20.0694 40.6654 25.6255 35.0343 32.706C35.0287 32.7126 35.0236 32.7196 35.0182 32.7264C34.7306 33.0877 34.4319 33.4527 34.1208 33.8219C31.0264 37.4943 27.8951 40.1759 26.7313 41.1287C25.5708 40.1792 22.4543 37.511 19.3621 33.8456C19.0433 33.4677 18.7375 33.0941 18.4432 32.7244C18.4384 32.7185 18.434 32.7124 18.429 32.7066C12.7982 25.6266 11.58 20.0707 11.58 16.5924ZM9.18476 33.966H14.4475L12.5279 38.5433H7.26532L9.18476 33.966ZM13.7053 50.626L18.5373 39.1035L32.2882 50.626H13.7053ZM34.6848 50.626L18.7281 37.255C18.5397 37.097 18.2867 37.0379 18.0474 37.0955C17.808 37.153 17.6103 37.3206 17.5158 37.5463L12.0308 50.6259H9.13576L12.061 43.65C12.1603 43.4132 12.1338 43.1428 11.9904 42.9295C11.8471 42.7161 11.6057 42.5879 11.3472 42.5879H5.56929L6.62189 40.0777H13.0436C13.3558 40.0777 13.6374 39.8912 13.7572 39.6053L16.1221 33.9659H17.4638C17.6967 34.2541 17.9334 34.5424 18.1764 34.8306C22.1653 39.5588 26.093 42.5944 26.2583 42.7214C26.3977 42.8285 26.5645 42.8818 26.7314 42.8818C26.8982 42.8818 27.0652 42.8284 27.2044 42.7214C27.2953 42.6517 28.5232 41.7022 30.272 40.0778H39.0262C39.4532 40.0778 39.7993 39.7343 39.7993 39.3105C39.7993 38.8868 39.4532 38.5433 39.0262 38.5433H31.8653C32.9371 37.4737 34.1086 36.2266 35.2864 34.8307C35.5294 34.5425 35.7663 34.2543 35.9991 33.966H44.278L46.1974 38.5433H42.1184C41.6914 38.5433 41.3453 38.8868 41.3453 39.3105C41.3453 39.7343 41.6913 40.0778 42.1184 40.0778H46.8408L47.8934 42.588H31.9659C31.6432 42.588 31.3546 42.7868 31.2416 43.0868C31.1288 43.3868 31.2154 43.7248 31.4591 43.9347L39.2263 50.626H34.6848V50.626ZM41.5849 50.626L34.0358 44.1226H48.5371L51.2643 50.626H41.5849Z"
          fill="#BEAD8E"></path>
      </svg>
      <p>CITY GUIDE</p>
    </div>
    <div>
      <svg
        fill="#BEAD8E"
        height="64px"
        width="64px"
        version="1.1"
        id="Layer_1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        viewBox="0 0 512 512"
        xml:space="preserve"
      >
        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
        <g
          id="SVGRepo_tracerCarrier"
          stroke-linecap="round"
          stroke-linejoin="round"></g>
        <g id="SVGRepo_iconCarrier">
          <g>
            <g>
              <g>
                <path
                  d="M490.276,193.154h-36.685c-4.472,0-8.096,3.624-8.096,8.096v5.122h-8.552c0.055-1.575,0.108-3.15,0.123-4.729 c0-0.038-0.004-0.076-0.004-0.113c0.007-0.211,0.025-0.42,0.025-0.631c0-36.5-91.081-55.596-181.054-55.596 S74.979,164.399,74.979,200.899c0,0.214,0.018,0.424,0.025,0.637c0,0.036-0.004,0.071-0.004,0.108 c0.014,1.579,0.051,3.156,0.106,4.729h-8.599v-5.122c0-4.472-3.625-8.096-8.096-8.096H21.724C5.707,193.154,0,203.299,0,212.794 v3.354c0,9.492,5.707,19.635,21.724,19.635h36.685c4.471,0,8.096-3.624,8.096-8.096v-5.12h9.885 c4.958,40.08,23.065,77.133,52.168,105.996c16.26,16.125,35.052,28.791,55.468,37.642l-45.563,96.757 c-1.905,4.045-0.171,8.869,3.875,10.773c1.115,0.525,2.289,0.774,3.444,0.774c3.038,0,5.95-1.719,7.33-4.649l46.089-97.873 c16.142,5.318,33.104,8.347,50.484,8.943v122.445c0,4.472,3.624,8.096,8.096,8.096c4.472,0,8.096-3.624,8.096-8.096V380.786 c17.192-0.932,33.993-4.311,49.965-9.901l46.608,98.976c1.38,2.931,4.291,4.649,7.33,4.649c1.155,0,2.33-0.248,3.444-0.774 c4.045-1.905,5.78-6.729,3.875-10.773l-46.2-98.11c23.749-10.788,45.166-26.708,62.586-47.012 c2.911-3.394,2.521-8.505-0.873-11.417c-3.396-2.914-8.508-2.518-11.417,0.873c-29.238,34.08-70.831,54.611-115.317,57.262 v-36.162c0-4.472-3.624-8.096-8.096-8.096c-4.472,0-8.096,3.624-8.096,8.096v36.329c-78.658-3.02-143.738-61.856-156.299-137.922 c2.798,1.761,5.879,3.445,9.217,5.051c0.34,0.194,0.689,0.364,1.048,0.505c33.965,15.931,93.412,24.136,152.384,24.136 c65.477,0,131.528-10.117,162.648-29.692c-3.461,21.088-10.973,41.351-22.237,59.614c-2.347,3.806-1.165,8.794,2.641,11.142 c3.805,2.347,8.795,1.165,11.141-2.641c13.594-22.04,22.213-46.729,25.419-72.353h9.85v5.12c0,4.472,3.624,8.096,8.096,8.096 h36.685c16.018,0,21.724-10.143,21.724-19.635v-3.354C512,203.299,506.294,193.154,490.276,193.154z M50.312,219.59h-0.001 H21.724c-5.531,0-5.531-1.444-5.531-3.444v-3.354c0-2.001,0-3.446,5.531-3.446h28.588V219.59z M380.607,176.389 c8.643,2.566,15.818,5.29,21.586,8.016l-9.351,9.07h-29.85L380.607,176.389z M362.201,171.683l-22.467,21.793h-29.85 l27.196-26.38C345.887,168.408,354.291,169.941,362.201,171.683z M316.49,164.508l-29.863,28.967h-29.849l32.081-31.119 C298.319,162.86,307.555,163.58,316.49,164.508z M256.032,161.496c3.474,0,6.929,0.031,10.366,0.087l-32.878,31.892h-29.85 l32.649-31.669C242.814,161.602,249.392,161.496,256.032,161.496z M178.249,166.624c10.659-1.505,21.877-2.691,33.5-3.542 l-31.335,30.394h-29.848L178.249,166.624z M135.876,175.121c4.425-1.216,9.06-2.352,13.874-3.414l-22.442,21.768H95.513 C101.746,187.638,114.856,180.896,135.876,175.121z M105.133,214.984c-3.292-1.806-5.98-3.593-8.085-5.317h13.567 L105.133,214.984z M135.876,226.678c-5.444-1.495-10.347-3.056-14.748-4.649l12.743-12.361h29.847l-19.695,19.104 C141.24,228.1,138.519,227.405,135.876,226.678z M189.485,236.621c-9.153-1.064-17.956-2.353-26.322-3.855l23.814-23.099h29.851 l-25.982,25.203C190.298,235.402,189.849,235.993,189.485,236.621z M238.597,240.063c-9.656-0.267-19.132-0.753-28.35-1.453 l29.837-28.942h29.848L238.597,240.063z M261.634,240.277l31.556-30.608h29.85l-30.482,29.566 C282.486,239.833,272.146,240.184,261.634,240.277z M356.07,229.142c-0.794,0.771-1.396,1.665-1.806,2.623 c-11.298,2.202-23.473,4.002-36.284,5.37l28.318-27.468h29.85L356.07,229.142z M384.356,224.263l15.048-14.596h15.611 C409.278,214.365,399.227,219.535,384.356,224.263z M416.099,193.475l0.219-0.213c0.078,0.071,0.158,0.143,0.233,0.213H416.099z M495.808,216.147c0,1.999,0,3.443-5.531,3.443h-28.588v-10.242h28.588c5.531,0,5.531,1.445,5.531,3.446V216.147z"
                ></path>
                <path
                  d="M159.673,121.064c-3.234,3.088-3.351,8.213-0.262,11.447c1.59,1.665,3.721,2.503,5.855,2.503 c2.01,0,4.023-0.744,5.591-2.241c9.782-9.343,22.489-33.794,0.562-59.449c-7.265-8.501-9.693-16.738-7.213-24.481 c1.931-6.03,6.175-9.872,6.341-10.02c3.368-2.9,3.771-7.977,0.892-11.371c-2.891-3.41-8.001-3.832-11.411-0.939 c-1.188,1.007-11.632,10.274-12.855,25.507c-0.87,10.833,3.147,21.539,11.936,31.825 C176.157,103.791,161.373,119.391,159.673,121.064z"
                ></path>
                <path
                  d="M221.349,97.001c-3.234,3.088-3.352,8.214-0.262,11.447c1.591,1.666,3.721,2.503,5.855,2.503 c2.01,0,4.023-0.744,5.591-2.241c9.782-9.344,22.489-33.795,0.562-59.451c-7.266-8.501-9.693-16.737-7.213-24.479 c1.929-6.02,6.161-9.859,6.341-10.02c3.368-2.898,3.772-7.976,0.893-11.371c-2.892-3.411-8.001-3.831-11.411-0.939 c-1.187,1.007-11.632,10.274-12.855,25.508c-0.87,10.831,3.147,21.538,11.936,31.823 C237.833,79.727,223.049,95.328,221.349,97.001z"
                ></path>
                <path
                  d="M283.025,97.001c-3.233,3.088-3.35,8.213-0.262,11.447c1.591,1.665,3.721,2.503,5.856,2.503 c2.009,0,4.023-0.744,5.592-2.241c9.783-9.344,22.49-33.795,0.562-59.45c-7.265-8.501-9.693-16.737-7.213-24.48 c1.931-6.03,6.175-9.871,6.342-10.021c3.366-2.898,3.77-7.976,0.892-11.37c-2.893-3.409-7.999-3.83-11.411-0.939 c-1.187,1.007-11.63,10.274-12.855,25.508c-0.87,10.831,3.147,21.538,11.937,31.823C299.51,79.727,284.726,95.328,283.025,97.001 z"
                ></path>
                <path
                  d="M344.7,121.064c-3.233,3.088-3.351,8.213-0.262,11.447c1.591,1.665,3.721,2.503,5.856,2.503 c2.009,0,4.023-0.744,5.592-2.241c9.781-9.343,22.489-33.794,0.562-59.45c-7.265-8.501-9.693-16.737-7.213-24.48 c1.931-6.029,6.174-9.871,6.341-10.02c3.368-2.9,3.771-7.977,0.893-11.371c-2.893-3.41-7.998-3.83-11.411-0.939 c-1.188,1.007-11.63,10.274-12.855,25.509c-0.87,10.832,3.146,21.538,11.937,31.822 C361.185,103.791,346.402,119.391,344.7,121.064z"
                ></path>
              </g>
            </g>
          </g>
        </g>
      </svg>
      <p>BBQ PARTY</p>
    </div>
    <div class="luxuary">
      <svg
        width="66"
        height="67"
        viewBox="0 0 66 67"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M8.73472 38.32C8.55425 38.1407 8.30546 38.0376 8.05151 38.0376C7.79628 38.0376 7.54749 38.1407 7.36702 38.32C7.18784 38.5005 7.08472 38.7493 7.08472 39.0044C7.08472 39.2583 7.18784 39.5084 7.36702 39.6876C7.54749 39.8681 7.79628 39.9712 8.05151 39.9712C8.30546 39.9712 8.55425 39.8681 8.73472 39.6876C8.91519 39.5084 9.01831 39.2583 9.01831 39.0044C9.01831 38.7492 8.91519 38.5004 8.73472 38.32Z"
          fill="#BEAD8E"></path>
        <path
          d="M64.3887 35.5734H61.7728V33.7194C61.7728 32.8309 61.05 32.1081 60.1614 32.1081H59.4625V27.1979H63.2337C63.7082 27.1979 64.1363 26.9918 64.4084 26.6324C64.6804 26.273 64.7626 25.805 64.6337 25.3484L62.5044 17.8013C62.2915 17.0462 61.5391 16.4767 60.7544 16.4767H56.2369C55.4522 16.4767 54.7 17.0461 54.4869 17.8013L52.3577 25.3485C52.2289 25.8051 52.3111 26.2732 52.583 26.6326C52.855 26.992 53.2833 27.1981 53.7578 27.1981H57.5288V32.1082H56.83C55.9414 32.1082 55.2187 32.831 55.2187 33.7196V35.5735H52.9776V33.0267C52.9776 32.1381 52.2549 31.4154 51.3663 31.4154H25.2656C24.7317 31.4154 24.2988 31.8482 24.2988 32.3822C24.2988 32.9161 24.7317 33.349 25.2656 33.349H51.0442V40.5016H49.69V39.0898C49.69 37.4905 48.389 36.1894 46.7896 36.1894H36.7646C35.1652 36.1894 33.8642 37.4905 33.8642 39.0898V40.5016H32.5374V39.0898C32.5374 37.4905 31.2363 36.1894 29.637 36.1894H19.6119C18.0126 36.1894 16.7115 37.4905 16.7115 39.0898V40.5016H14.9558V33.349H20.8827C21.4166 33.349 21.8495 32.9161 21.8495 32.3822C21.8495 31.8482 21.4166 31.4154 20.8827 31.4154H14.6336C13.745 31.4154 13.0222 32.1381 13.0222 33.0267V35.5735H10.7812V33.7197C10.7812 32.8312 10.0584 32.1084 9.16988 32.1084H8.47107V27.1979H12.2421C12.7166 27.1979 13.1447 26.9918 13.4168 26.6324C13.6888 26.273 13.7711 25.805 13.6421 25.3484L11.513 17.8013C11.3001 17.0462 10.5476 16.4767 9.76297 16.4767H5.24545C4.4608 16.4767 3.7085 17.0461 3.49542 17.8013L1.36641 25.3484C1.23763 25.805 1.31974 26.273 1.59173 26.6324C1.86373 26.9918 2.29195 27.1979 2.76646 27.1979H6.53748V32.1082H5.83881C4.95026 32.1082 4.22748 32.831 4.22748 33.7196V35.5734H1.61133C0.722777 35.5734 0 36.2962 0 37.1847V41.6223V48.832C0 49.7206 0.722777 50.4434 1.61133 50.4434H8.16234V56.6864C8.16234 57.575 8.88512 58.2977 9.77367 58.2977H14.2022C15.0908 58.2977 15.8136 57.575 15.8136 56.6864V53.5749H39.832C40.366 53.5749 40.7988 53.142 40.7988 52.6081C40.7988 52.0741 40.366 51.6413 39.832 51.6413H15.4913C14.6028 51.6413 13.88 52.3641 13.88 53.2526V56.3641H10.0959V47.8254H55.9042V56.3641H52.1201V53.2526C52.1201 52.3641 51.3974 51.6413 50.5088 51.6413H44.4727C43.9387 51.6413 43.5059 52.0741 43.5059 52.6081C43.5059 53.142 43.9387 53.5749 44.4727 53.5749H50.1866V56.6864C50.1866 57.575 50.9093 58.2977 51.7979 58.2977H56.2265C57.1149 58.2977 57.8378 57.575 57.8378 56.6864V50.4434H64.3887C65.2772 50.4434 66 49.7206 66 48.832V37.1847C66 36.2963 65.2772 35.5734 64.3887 35.5734ZM54.3906 25.2644L56.3242 18.4102H60.6671L62.6009 25.2644H54.3906ZM57.1524 34.0418H59.8392V35.4964H57.1524V34.0418ZM35.7979 39.0898C35.7979 38.5567 36.2317 38.123 36.7647 38.123H46.7897C47.3229 38.123 47.7565 38.5567 47.7565 39.0898V40.5016H35.7979V39.0898ZM19.6119 38.123H29.637C30.17 38.123 30.6038 38.5567 30.6038 39.0898V40.5016H18.6451V39.0898C18.6451 38.5567 19.0789 38.123 19.6119 38.123ZM3.39913 25.2644L5.33272 18.4103H9.67557L11.6093 25.2644H3.39913ZM6.16094 34.0418H8.84761V35.4964H6.16094V34.0418ZM9.30574 43.4018V45.9615C8.64484 46.1625 8.16222 46.7773 8.16222 47.503V48.5098H1.93359V42.5891H9.42253C9.34699 42.8472 9.30574 43.1197 9.30574 43.4018ZM1.93359 40.6555V37.507H13.0222V40.5015H12.2061C11.8806 40.5015 11.5679 40.5561 11.2756 40.6555H1.93359ZM54.7607 45.8918H11.2393V43.402C11.2393 42.8689 11.6731 42.4352 12.2061 42.4352H53.7939C54.3269 42.4352 54.7607 42.8689 54.7607 43.402V45.8918ZM64.0664 48.5098H57.8378V47.503C57.8378 46.7773 57.3553 46.1625 56.6943 45.9615V43.4018C56.6943 43.1197 56.653 42.8472 56.5775 42.5891H64.0664V48.5098ZM64.0664 40.6555H54.7244C54.4321 40.5561 54.1194 40.5015 53.7939 40.5015H52.9779V37.507H64.0664V40.6555Z"
          fill="#BEAD8E"></path>
        <path
          d="M58.633 38.3212C58.4525 38.1407 58.2037 38.0376 57.9485 38.0376C57.6945 38.0376 57.4457 38.1407 57.2653 38.3212C57.0848 38.5004 56.9817 38.7492 56.9817 39.0044C56.9817 39.2583 57.0848 39.5071 57.2653 39.6876C57.4445 39.8681 57.6945 39.9712 57.9485 39.9712C58.2037 39.9712 58.4525 39.8681 58.633 39.6876C58.8122 39.5071 58.9153 39.2583 58.9153 39.0044C58.9153 38.7504 58.8122 38.5004 58.633 38.3212Z"
          fill="#BEAD8E"></path>
        <path
          d="M47.3225 13.334C47.8565 13.334 48.2893 12.9012 48.2893 12.3672V9.81372C48.2893 8.92517 47.5665 8.20239 46.678 8.20239H19.322C18.4335 8.20239 17.7107 8.92517 17.7107 9.81372V24.1491C17.7107 25.0377 18.4335 25.7604 19.322 25.7604H46.678C47.5665 25.7604 48.2893 25.0377 48.2893 24.1491V16.75C48.2893 16.2161 47.8565 15.7832 47.3225 15.7832C46.7886 15.7832 46.3557 16.2161 46.3557 16.75V19.4862L41.7851 11.5698C41.6124 11.2707 41.2932 11.0864 40.9479 11.0864C40.6024 11.0864 40.2833 11.2707 40.1106 11.5698L35.9967 18.6955L33.1275 13.7259C33.1261 13.7234 33.1243 13.7214 33.1229 13.7189C33.041 13.5796 32.9236 13.4585 32.7736 13.372C32.3111 13.105 31.72 13.2635 31.453 13.7259L25.6212 23.827H19.6443V10.136H46.3557V12.3672C46.3557 12.9012 46.7886 13.334 47.3225 13.334ZM40.9479 13.9868L46.3557 23.3534V23.827H35.2668L40.9479 13.9868ZM32.2902 16.1429L34.8804 20.6291L33.034 23.827H27.8538L32.2902 16.1429Z"
          fill="#BEAD8E"></path>
        <path
          d="M24.8377 11.2405C23.0308 11.2403 21.5608 12.7104 21.5608 14.5174C21.5608 16.3243 23.0308 17.7942 24.8377 17.7942C26.6446 17.7942 28.1145 16.3243 28.1145 14.5174C28.1145 12.7104 26.6446 11.2405 24.8377 11.2405ZM24.8377 15.8606C24.097 15.8606 23.4944 15.258 23.4944 14.5174C23.4944 13.7766 24.097 13.1741 24.8377 13.1741C25.5783 13.1739 26.1809 13.7766 26.1809 14.5174C26.1809 15.2581 25.5783 15.8606 24.8377 15.8606Z"
          fill="#BEAD8E"></path>
      </svg>
      <p>LUXUARY ROOM</p>
    </div>
  </article>
</section>

<style define:vars={{ gold }}>
  section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 50px 0;
    video {
      width: 80%;
      margin: auto;
      justify-self: center;
    }
    .description {
      padding-top: 20px;
      font-size: 32px;
      text-align: center;
      width: 80%;
      max-width: 1000px;
      font-weight: 100;
    }
    article {
      display: grid;
      grid-template-columns: 1fr 1fr;

      div {
        padding: 30px 10px;
        font-size: 12px;
        font-weight: bold;
        letter-spacing: 2px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 160px;
        text-align: center;
      }
      .luxuary {
        grid-column: 1/3;
        justify-self: center;
      }
      svg {
        cursor: pointer;
        padding-bottom: 5px;
      }
      div:hover {
        transition: background-color 0.3s;
        background-color: var(--gold);
        color: white;
        svg {
          path {
            transition: fill 0.3s;
            fill: white;
          }
          rect {
            transition: fill 0.3s;
            fill: white;
          }
        }
      }
    }
  }
  @media (min-width: 1024px) {
    section {
      .description {
        font-size: 72px;
      }
      article {
        display: flex;
        gap: 5px;
        div {
          p {
            font-size: 16px;
          }
        }
      }
    }
  }
</style>
