<section>
  <div>
    <label>Arrival Date</label>
    <input type="date" />
  </div>
  <div>
    <label>Departure Date</label>
    <input type="date" />
  </div>
  <button>Check Availability</button>
</section>

<style>
  section {
    background-color: #000;
    display: flex;
    justify-content: space-around;
    padding: 50px;
    div {
      display: flex;
      color: white;
      font-weight: bold;
      flex-direction: column;
      gap: 20px;
      align-items: start;
      input{
        border: none;
        outline: none;
        background-color: black;
        color: white;
        
      }
    }
  }
</style>
