---
import Cards from "./cards.astro";
---

<section>
  <header>FACILITIES</header>
  <h3>Core Features</h3>
  <div>
    <Cards number='01' img='../../public/images/facilities1.svg' />
    <Cards number='02' img='../../public/images/facilities2.svg' />
    <Cards number='03' img='../../public/images/facilities3.svg' />
    <Cards number='04' img='../../public/images/facilities4.svg' />
    <Cards number='05' img='../../public/images/facilities5.svg' />
    <Cards number='06' img='../../public/images/facilities6.svg' />
  </div>
</section>

<style>
  section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 40px 0 ;
    header {
      text-align: center;
      font-family: sans-serif;
      font-size: 14px;
      letter-spacing: 2px;
      color: #777;
      font-weight: bold;
      padding: 10px 0;
    }
    h3{
      font-size: 56px;
      font-family: serif;
      text-align: center;
      font-weight: 50;
      padding: 20px 0;
    }
    div{
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 10%;
      flex-wrap: wrap;
    }
  }
  @media  screen and (min-width: 1024px) {
    section{
      h3{
        font-size: 96px;
      }
      div{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 30px
      }
    }
  }
</style>
