---
import { gold } from "../layouts/Layout.astro";
const { img } = Astro.props;
---

<article>
  <img src={img} alt="" />
  <div class="services">
    <img src="../../public/images/amenities/airCondIcon.svg" alt="air" />
    <img src="../../public/images/amenities/bedIcon.svg" alt="bed" />
    <img src="../../public/images/amenities/breakIcon.svg" alt="break" />
    <img src="../../public/images/amenities/cleanIcon.svg" alt="clean" />
    <img src="../../public/images/amenities/wifiIcon.svg" alt="wifi" />
    <img src="../../public/images/amenities/showerIcon.svg" alt="shower" />
  </div>
  <main>
    <h6>Minimal Duplex Room</h6>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor.
    </p>
    <p class="price">$345/Night <span>Book Now</span></p>
  </main>
</article>

<style define:vars={{ gold }}>
  article {
    color: black;
    background-color: white;
    max-width: 335px;
    position: relative;
    img {
      width: 100%;
    }
    .services {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      width: 250px;
      background-color: #fdfdfd;
      padding: 5px;
      margin: auto;
      translate: 0 -20px;
      box-shadow: 1px 1px 1px gray;
      img {
        width: 20px;
      }
    }
    main {
      padding: 20px 10px;
      text-align: center;
      h6 {
        font-size: 28px;
        padding-bottom: 10px;
        font-weight: 100;
      }
      p {
        color: #777;
      }
      .price {
        padding: 10px 0;
        color: var(--gold);
        font-weight: bold;
        span {
          color: #aaa;
          padding-left: 5px;
        }
      }
    }
  }
</style>
